<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015284439713-894cc96cvkq9biudh03nc1t1tm9bd7u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015284439713-894cc96cvkq9biudh03nc1t1tm9bd7u6</string>
	<key>API_KEY</key>
	<string>AIzaSyCN10VLwnmfhC09ZXU8Qnq0abvpz7jL8CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1015284439713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Skin.SkinWallpaper</string>
	<key>PROJECT_ID</key>
	<string>skin-app-affec</string>
	<key>STORAGE_BUCKET</key>
	<string>skin-app-affec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015284439713:ios:6bae1cc83e2e9dbf6a2ee0</string>
	<key>DATABASE_URL</key>
	<string>https://skin-app-affec.firebaseio.com</string>
</dict>
</plist>